.stApp {
    background-color: #111216 !important;
    color: #f1f2f6 !important;
}
div[data-testid="stForm"], .stTabs {
    background-color: #1c1d24 !important;
    border-radius: 10px !important;
    padding: 20px !important;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3) !important;
    border: 1px solid #2d2f39 !important;
}
label p {
    font-weight: bold !important;
    color: #5ab4ff !important;
}
footer, header, #MainMenu { visibility: hidden !important; }